################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Libera_base/.vs/Libera_base/v16/Server/sqlite3/storage.ide
